.navbar{
    background-color: black;
}
.navbar-brand img{
    width: 60px;
}
#navbarSupportedContent > form > button{
    border-radius: 20px;
}
.fa-magnifying-glass{
    margin-top: 12px;
    margin-left: 14px
}
.header-bottom form button{
    color: white;
    background-color: #363636;
    border-radius: 25px;
}
ul.dropdown-menu{
    text-align: center;
}
#navbarSupportedContent > ul > li > ul{
    margin-top: -10px;
    border: none;
}
.dropdown-menu li{
    display: inline-block;
    width: auto;
}
#navbarSupportedContent > ul > li > ul > li:nth-child(3){
    display: block;
}
#navbarSupportedContent > ul > li > ul > li:nth-child(3){
    display: block;
}
#navbarSupportedContent > form > ul > li > ul > li:nth-child(4){
    display: block;
}
#navbarSupportedContent > form > ul > li > ul > li:nth-child(3){
    display: block;
}
#jumbo{
    margin-top: 135px;
}
#jumbo > div > div{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
#jumbo{
    background-image: url(../img/jumbo-bg.png);
    height: 695px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
#jumbo .container-fluid{
    float: left;
    padding-left: 20px;
    padding-top: 330px;
}
#jumbo > div > button, #jumbo2 > div > button{
    color: white;
    background-color: #cd3d0f;
    border-radius: 30px;
}
#jumbo2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 695px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
#jumbo2 .container-fluid{
    float: left;
    padding-left: 20px;
    padding-top: 110px;
}
#playstation5 > div:nth-child(1) > div > div.col-6{
    opacity: 0.5;
}
#playstation5 > div:nth-child(1) > div > div.col-6:hover{
    opacity: 1;
    position: relative;
    bottom: 5px;
}
#console-card > div > div{
    opacity: 0.5;
}
#console-card > div > div{
    transition: all .5s;
}
#console-card > div > div:hover{
    opacity: 1;
}
#console-card > div > div:nth-child(1){
    border-bottom: 2px solid blue;
}
#playstationplus{
    background-color: #bebcbb;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
#playstationplus button{
    color: blue;
    background-color: #d9dadc;
    border-radius: 25px;
}
#playstationow{
    background-color: #161c3b;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
#playstationow button{
    background-color: #ffffff;
    border-radius: 25px;
}
#playstationplus > div > div > div:nth-child(1) > img,#playstationow > div > div > div:nth-child(1) > img{
    width: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
}
#playstation5{
    margin-top: 40px;
}
#playstation5 > div:nth-child(1){
    margin-bottom: 100px;
}
#playstation5 button, #playstation4 button{
    color: white;
    background-color: #2c64e5;
    border-radius: 30px;
}
#cards .container-fluid .row div img{
    border-radius: 20px;
}
#playstation5 .container .row div img{
    border-radius: 20px;
}
h1{
    font-size: 2.5em;
}
footer{
    background-color: #00439c;
}
footer ul li{
    color: white;
    list-style-type: none;
    white-space: nowrap;
}
footer ul{
    width: calc(50% - 2em);
    margin: 1em;
    margin-top: 30px;
}


















/* @media screen and (max-width: 768px){
    #jumbo .container-fluid img{
        width: 75%;
    }
} */
@media screen and (max-width: 576px){
    #jumbo .container-fluid img{
        width: 50%;
    }
}
@media screen and (max-width: 768px){
    #jumbo .container-fluid img{
        width: 50%;
    }
}
@media screen and (max-width: 1200px){
    #jumbo .container-fluid img{
        width: 50%;
    }
}
@media screen and (min-width: 1200px){
    #jumbo .container-fluid {
        width: 25%;
        text-align: left;
    }
}
@media screen and (max-width: 576px){
    #jumbo2 .container-fluid img{
        width: 50%;
    }
}
@media screen and (max-width: 768px){
    #jumbo2 .container-fluid img{
        width: 50%;
    }
}
@media screen and (max-width: 1200px){
    #jumbo2 .container-fluid img{
        width: 50%;
    }
}
@media screen and (min-width: 1200px){
    #jumbo2 .container-fluid {
        width: 25%;
        text-align: left;
    }
}
@media screen and (min-width: 768px){
    #console-card .item-container{
        width: 50%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px){
    #playstationplus > div > div > div:nth-child(1) > img{
        width: 50%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 768px){
    #playstationplus p{
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 768px){
    #playstationplus button{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px){
    #playstationow > div > div > div:nth-child(1) > img{
        width: 50%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 768px){
    #playstationow p{
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 768px){
    #playstationow button{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 576px){
    body > footer > div > div > div:nth-child(3) > div > img{
        width: 25%;
    }
}
@media screen and (min-width: 576px){
    body > footer > div > div > div:nth-child(3) > div > img{
        width: 25%;
    }
}
@media screen and (min-width: 992px){
    body > footer > div > div > div:nth-child(3) > div > img{
        width: 30%;
    }
}
@media screen and (min-width: 1200px){
    body > footer > div > div > div:nth-child(3) > div > img{
        width: 30%;
    }
}
/* @media screen and (min-width: 768px){
    body > footer > div > div > div.col.col-lg-6 > img{
        padding-left: 50px;
    }
} */




.dropdown-menu {
    width:100% !important;
}
