.navbar{
    background-color: black;
}
.navbar-brand img{
    width: 60px;
}
#navbarSupportedContent > form > button{
    border-radius: 20px;
}
.fa-magnifying-glass{
    margin-top: 12px;
    margin-left: 14px
}
#playstation5{
    margin-top: 40px;
}
#jumbo{
    margin-top: 135px;
}
#jumbo > div > div{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
#jumbo{
    background-image: url(../img/jumbo-bg.png);
    height: 695px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top: 320px;
    left: 7px;
}
#playstation5 > div:nth-child(1){
    margin-bottom: 100px;
}
@media (min-width: 992px) {
    #console-card > div > div:nth-child(1) > img{
        width: 100px;
    }
}
@media (min-width: 992px) {
    #console-card > div > div:nth-child(2) > img{
        width: 100px;
    }
}
@media (min-width: 992px) {
    #console-card > div > div:nth-child(3) > img{
        width: 100px;
    }
}
@media (min-width: 992px) {
    #console-card > div > div:nth-child(4) > img{
        width: 100px;
    }
}
@media (min-width: 992px) {
    #console-card > div > div:nth-child(5) > img{
        width: 100px;
    }
}
#cards .container-fluid .row div img{
    border-radius: 20px;
}
#playstation5 .container-fluid .row div img{
    border-radius: 20px;
}